/* Body & Main Page Container */

body{
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 1100px;
    margin: -10px auto;
    background-color: white;
}


/* Header */

/* Logo & Try-It-Free Button*/
.logo-banner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.try-it-free{
    background-color: white;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    padding-top: 10px;
    color: gray;
    font-weight: 500;
    
}

.try-it-free:hover{
    color: white;
    background-color:#ff0066;
}


/* Header Main Section */
.header{
    background-image: url(images/bg-hero-desktop.svg);
    background-color: #edfbfe;
    padding: 70px 40px;
    margin-bottom: 60px;
}

.header-img{
    height: 350px;
    width: 500px;
    margin-left: 30px;
    }

.header-main-text{
   margin-top: 60px;
}
.header-main-text > p{
    width: 450px;
    padding: 10px;
}
   
.header-main{
    display: flex;
}

.get-started-button{
    color:white;
    display: block;
    width: 250px;
    padding: 15px 0;
    border-radius: 25px;
    background-color: #ff0066;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;

}

.get-started-button:hover{
    color:#ff0066;
    background-color: white;
}


/* Main Page Content*/
.body-section{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    width: 800px;
    margin: 30px auto;
}

.body-section-content{
    padding: 80px 20px;
}

.body-section > img{
    height: 300px;
    width: 400px;
    padding: 20px;
   }

.last-body-section{
    position: relative;
    padding: 20px;
    top: 80px;
    z-index: 0;
    width: 500px;
    height: 150px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    background-color: white;
}

.last-body-section > span{
    margin: 0 auto;
}


/* Footer*/
.footer{
    color: white;
    height: 300px;
    background-color: #00252e;
    padding: 150px 40px 40px 60px;
}

.footer-logo{
    filter: brightness(0) invert(1);
    width: 240px;
    height: 39px;
    display: block;
    margin-bottom: 30px;
}

.footer-section{
    float: left;
}


/* Footer division A*/
.footer-a{
    width: 30%;
    
}

.footer-a div{
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-a i{
    display: inline-block;
    padding-right: 15px;
}


/* Footer division B & C*/
.footer-b, .footer-c{
    width: 20%;
}

.footer ul{
    list-style-type: none;
}

.footer li{
    padding: 10px 0;
}

.footer-b li:hover, .footer-c li:hover{
    text-decoration: underline;
}

.footer-d{
    width: 30%;
    display: flex;
    flex-direction: column;
}


/* Footer division D*/
.footer-d{
    height: 250px;
}

.social-icons i {
    font-size: 15px
}

.center-icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 20px;
    border: 1.5px solid white;
}

.center-icon:hover{
    color: #ff0066;
    background-color: white;
}

 .footer-d p{
     position: relative;
     top: 140px; 
 }

 .footer-d span{
     margin-left: 5px;
     font-size: 12px;   
 }



 /* Media Queries for Mobile Screen*/

@media only screen and (max-width: 375px){
    
    /* Header */
    .header{
        margin-bottom: 200px;
    }
    
    .logo{
        width: 450px;
        height: auto;
    }
    
    .try-it-free{
        width: 300px;
        font-size: 40px;
    }
    
    .header-main{
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
    }
    
    .header-main-text{
        text-align: center;
    }
    
    .header-main-text > h1{
        font-size: 70px;
    }

    .header-main-text > p{
        width: 80%;
        margin: 0 auto;
        font-size: 45px;
    }

    .get-started-button{
        margin: 50px auto;
        font-size: 50px;
        width: 70%;
        padding: 30px;
        border-radius: 50px;
    }

    .header-img{
       height: auto;
       width: 90%;
       margin: 0 auto;
    }
    
    
    /*Main Page Content*/
    .body-section{
        width: 95%;
        flex-direction: column-reverse;
        text-align: center;
        font-size: 50px;
        margin: 70px;
        border-radius: 50px;
    }
    
    .middle{
        flex-direction: column;
    }
    
    .body-section > img{
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .last-body-section{
        width: 90%;
        font-size: 40px;
        height: auto;
        padding-bottom: 150px;
        top: 150px;
        border-radius: 50px;
    }
    
    
    /*Footer*/
    .footer{
        height: 2400px;
    }
    
    .footer-logo{
        margin-top: 100px;
        width: 450px;
        height: auto;
    }
    
    .footer-section{
        float: none;
    }
    
    .footer-a,.footer-b,.footer-c, .footer-d{
        width: auto;
        font-size: 50px;
    }
    
    
    /*Footer Division A*/
    .footer-a{
        margin-bottom: 150px;
    }
    
    .footer-a > div{
        margin: 100px 0;
    }
    
    .footer-a  span{
        padding-left: 50px;
    }
    
    
    /*Footer Division B & C*/
    .footer-b li, .footer-c li{
        margin-left: -35px;
        padding: 30px 0;
    }
    
    
    /*Footer Division D*/
    .footer-d{
        text-align: center;
    }

    .social-icons{
        margin: 0 auto;
        margin-top: 150px;
    }
    
    .center-icon{
        width: 130px;
        height: 130px;
        margin-right: 50px;
        border-radius: 50%;
        border: 3px solid;
    }
    
    .footer-d  p, .footer-d span{
        position: static;
        font-size: 35px;
        margin-top: 100px;
    }
    
    .center-icon i{
         font-size: 60px;
     }
    
    }
